<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 jumbotron">
      <h1 class="display-5">How do I cancel:</h1>
    </div>
  <div class="col-sm-1"></div>
  </div>
  <div class="row" *ngFor="let product of products">
    <div class="col-sm-1"></div>
    <div class="card col-sm-10">
      <div class="card-block" (click)="navigateToSteps(product.urlName)">
        <img class="card-img-top img-fluid" src="{{product.brandImg}}" />
        <div class="card-text">
            <br />
          <h5>How do I cancel : {{product.displayName}}</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
