<span class="container" *ngIf="product">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="jumbotron col-sm-10">
          <h1 class="display-5">How Do I Cancel:</h1>
          <h3> <br> {{product.displayName}}</h3>
          <br>
        </div>
        <div class="col-sm-1"></div>

    </div>
      <div class="row" *ngFor="let step of product.steps">
        <div class="col-sm-1"></div>
        <div class="card col-sm-10" *ngIf="step">
          <div class="card-block">

            <p class="card-text" *ngIf="step.text">
              <h5>{{step.text}}</h5>
                <p>
              <h5 *ngIf="step.link">
                <a class="btn btn-primary" target="_blank" [href]="step.link">Click Here</a>
              </h5>
                <ng-container *ngIf="step.image">
                  <img class="card-img-bottom img-fluid" src="{{step.image}}" />
                </ng-container>
            </div>
          </div>
          <div class="col-sm-1"></div>
          <br/>
          <br/>
        </div>
    </span>
