<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="jumbotron col-sm-10">
      <h1 class="display-5">How Do I Cancel This.com</h1>
      <br />
      <h3>Pick a Category:</h3>
      <br />
      <span *ngFor="let category of categories">
      <a class="btn btn-primary" routerLink={{category.url}} routerLinkActive="active">{{category.displayName}}</a>
      </span>
      <br>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
